h1{ /*Stylen der headline*/
    font-size:6vh;
    text-align:center;
}
section{ /*zentrieren der "Buttons" in der Section*/
    text-align:center;
    margin-top:5%;
}
div{ /*Generel style der Knöpfe und hover Effekt*/
    width:15vh;
    height:15vh;
    margin-left:4%;
    border-radius:50%;
    border:1px solid black;
    display:inline-block;
}
div:hover{
    box-shadow:0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.589);
    transform:scale(1.05);
    overflow-x: hidden;
    transition:0.5s;
    cursor:pointer;
}/*Individueller Style mit linear Gradient der Knöpfe*/
#GreenPurple{
    background:linear-gradient(45deg,darkgreen 50%,purple 50%);
}
#PurpleYellow{
    background:linear-gradient(45deg,rgb(78, 52, 192) 50%,yellow 50%);
}
#BlackOrange{
    background:linear-gradient(45deg,black 50%,orange 50%);
}
#DarkblueLightblue{
    background:linear-gradient(45deg,darkblue 50%,lightblue 50%);
}
